name: Deploy Jekyll site to Pages
on:
    push:
        branches: ["main"]
    workflow_dispatch:

permissions:
    contents: read
    id-token: write
    pages: write

concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    build:
        runs-on: ubuntu-24.04
        steps:
            - name: Checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            - name: Setup Ruby
              uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
              with:
                  bundler-cache: true

            - name: Setup Pages
              id: pages
              uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5

            - name: Build
              run: bundle exec jekyll build --baseurl "${{ steps.pages.outputs.base_path }}"
              env:
                  JEKYLL_ENV: production

            - name: Upload
              uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0

    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-24.04
        needs: build
        steps:
            - name: Deploy
              id: deployment
              uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
